
body {

    background-image: url(../Assets/images/water2.jpg) ;
  
    background-repeat: no-repeat;
  
      background-attachment: fixed;
  
    background-size: cover;
    

    animation: fadeInAnimation ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    /* color: #FFFFFF; */
  
    }
    @keyframes fadeInAnimation { 
        0% { 
            opacity: 0; 
        } 
        100% { 
            opacity: 1; 
         } 
    } 

    .container {
        display: grid;
        margin-left: -2%;
        width: 100%;
      }

    .card{
        width: 40%;
        height: 70%;
        background-color: white;
        position: absolute;
        margin-top: 8%;
        margin-left: 29%;
        opacity: 1;
        display: grid;
    }
    form {
        overflow: hidden;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
        margin-left: 5%;
        margin-top: -10%;
    }
    .form-feild{
        display: grid;
    }
    
    .fundoo-tittle{
        font: 1em sans-serif;
        font-style:normal ;
        font-size: 30px;
        margin-left: 35%;
        letter-spacing: -0.7mm;
        margin-top: 2%;

    }
    .form-div {
        margin: 50px auto 50px;
        padding: 25px 15px 10px 15px;
        border: 4px solid #80ced7;
        border-radius: 30px;
        font-size: 1.1em;
        font-family: 'Merriweather&display=swap', serif;
      }
      /* .form-group label {
        width: 120px;
       
       
      } */
      /* form section div label { display: block; } */

      /* input, label {
        display:block;
    } */
    
      .form-group{
        display: inline-flex;

      }
      /* .password{
          margin-top: 10%;
      } */
    
    .sign-up{
        margin-left: 35%;
        color: black;
        font:  sans-serif;
        margin-top: -7%;
    }
    label, input {
        display: block;
    }
    ul.form {
        width  : 500px;
        padding: 0px;
        margin : 0px;
        list-style-type: none;
        margin-top: 5%;
        margin-left: 7%;
    }
    ul.form li  {
        width : 500px;
    }
    ul.form li input {
        width : 200px;
    }
    ul.form li textarea {
        width : 450px;
        height: 150px;
    }
    
    .form-control {
        line-height: 1%;
    }
    input{
        height: 2%;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
        /* padding-right: 15px; */
        /* padding-left: 15px; */
        margin-right: auto;
        margin-left: auto;
    }
    /* ul.form li.twoColumnPart {
        float : left;
        width : 230px;
    } */
    .email  {
        width: 85.5%;
        height: 3em;
        margin-top: 5%;
    }
    .lname , .fname {
        height: 3em;
    }
    .pwd ,.rpwd{
        height: 3em;
    }
    /* .fname {
        height: 3em;
    } */
    .password{
        margin-top: 9%;
        height: 3em;
    }
    .btn-primary{
        width: 40%;
        margin-left: 46.5%;
        margin-top: -7%;
        /* background-color: palevioletred; */
        /* background-color :#ff6347;
        border-color:#ff6347 ; */
    }
    .link{
        margin-top: 7%;
    }

    error-output {
        font-size: 12px;
        font-style: italic;
        color: red;
    }
    textarea {
        /* max-width: 50%; */
        resize: none;
    }
    .col-sm-3 .col-md-6{
        height: 4%;
    }
    .row{
        height: 4%;
    }
    @media all and (min-device-width: 320px) and (max-device-width: 960px) {
        .card{
            width: 80%;
            height: 95%;
            margin-left: 5%;
            margin-top: 0%;
        }
        .container{
            width: 100%;
        }
        .form-field{
            width: 100%;
        }
        .lname {
            margin-top: 8%;
        }
        .rpwd{
            margin-top: 8%;
        }
        form {
            overflow: hidden;
            display: grid;
            grid-template-columns: 200px 1fr;
            grid-gap: 16px;
            margin-left: 7%;
        }
        .form-control{
            width: 50%;
        }
        ul.form li input {
            width : 200px;
        }
        ul.form li textarea {
            width : 450px;
            height: 150px;
        }
        .btn-primary{
            margin-left: 3%;
            width: 30%;
            margin-top: -25%;
        }
        .link{
            margin-top: 30%;
            margin-left: 7%;
        }

        .form-field{
            margin-top: -2%;
        }
        .sign-up{
            margin-top: -5%;
        }
        .fundoo-tittle{
            margin-top: 8%;
        }
    }
    @media all and (min-device-width: 320px) and (max-device-width: 960px){

    }
    /* .button{
        margin-left: 60%;
    } */
/* 

    @media all and (min-device-width: 320px) and (max-device-width: 570px) {
        body {
            font-size: 12pt;
            width: 40%;
            margin-left: -15%;
        } */
        /* form { */
            /* overflow: hidden; */
            /* display: grid; */
            /* grid-template-columns: 200px 1fr;
            grid-gap: 16px; */
            /* width: 55%; */
            /* padding: 44px 20px; */
            /* margin-top: 10px; */
            /* margin-left: 4%; */
        /* } */
        /* .form-feild{ */
            /* margin-left: -30%; */
        /* } */
        

        /* .fundoo-tittle{
            font: 1em sans-serif;
            font-style:normal ;
            font-size: 30px;
            margin-left: 28%;
            letter-spacing: -0.7mm;
            margin-top: 2%;
    
        } */
        /* .sign-up{
            margin-left: 28%;
            color: black;
            font:  sans-serif;
        }
        
        .form-group{
            display: table-caption;
    
          }
        .email{
            margin-top: -1%;
            width: 57%;
        } */
        
        /* .card{
            width: 75%;
            height: 80%;
            flex-wrap: wrap;
        } */
        /* div {
            display: block;
        }
        input {
            flex-wrap: wrap;
        }
        .form-control{
            width: 70%;
            flex-wrap: wrap;
        }
        .btn-primary {
            width: 16%;
            margin-left: 23%;
            margin-top: -12%;
        }
        .link{
            margin-top: 2%;
        }
        
    } */
    
    /* @media all and (min-device-width: 320px) and (max-device-width: 960px) {
        .form-control{
            width: 70%;
        }
        label, input {
            display: block;
        }
        .submit-reset {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin: 5px;
            min-width: 70px;
        }
        .submitButton {
            margin: 5px;
            border-radius: 12px;
            min-width: 70px;
        }
        .buttonParent {
            align-items: flex-start;
            margin: 5px;
            border-radius: 12px;
            min-width: 70px;
        }
        .cancelButton {
            margin: 5px;
            border-radius: 12px;
            min-width: 70px;
        }
        .resetButton {
            margin: 5px;
            border-radius: 12px;
            min-width: 70px;
        }
    } */
    /* @media all and (min-device-width: 320px) and (max-device-width: 960px) {
        section {
            display: block;
        }
        
        .container {
            display: grid;
        }
        body {
            font-size: 12pt;
            width: 40%;
            margin-left: -15%;
        }
        form {
            overflow: hidden;
            display: grid;
            grid-template-columns: 200px 1fr;
            grid-gap: 16px;
            width: 100%;
            margin-left: 15%;
        }

        .form-control{
            width: 70%;
        }
        label, input {
            display: block;
        }
        .card{
            width: 75%;
            height: 95%;
            flex-wrap: wrap;
            margin-top: 1%;
            display: grid;
        }
        } */