.navbar-dark .navbar-toggler {
    /* color: rgba(255,255,255,.5); */
    border-color: black;
    align-items: flex-start;
    margin-right: 100%;
}
.keep{
    margin-left: 45%;
    margin-top: -35%;
    font-weight: normal;
    color: gray;
    font-style: initial;
}
.display-cards{
    position: fixed;
}
.navbar{
    padding: .2rem 1rem;
    background-color: #fff;
}
.bg-dark {
    color: black;
    border-color: rgba(0,0,0,.2);
    width: 100%;
    height: 30%;
}
.pl-5, .px-5 {
    padding-left: 3rem!important;
    margin-left: 5%;
    width: 40%;
}
.google-keep{
    margin-left: 5%;
    width: 10%;
}
.image{
    margin-top: -8px;
    width: 40%;
    height: 10%;
}
.search {
    width: 2000px;
    margin-bottom: auto;
    margin-top: 5px;
    height: 50px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
  
}
hr {width: 2000px;margin-left: auto;margin-right: auto;height: 1px;background-color:#666; opacity: 0.5; margin-top:-2px ;}
.search-input {
    background-color: whitesmoke;
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 1%;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    z-index: 2;
}
.search .search-input {
    background-color: whitesmoke;
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
    text-align: center;
}
.search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;
    margin-right: 90%;
}
.glyphicon-search{
    margin-top: -50px;
}
.glyphicon{
    margin-top: 8px;
    color: black;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    margin-right: 95%;
}
.search-icon:hover {
    color: #fff !important
}
a:link {
    text-decoration: none
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  .button{
      margin-top: 20px;
  }
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .dhanashri{
      margin-left: 30%;
      margin-top: 1%;
  }
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border: thin;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  /*-----------------------------Drawer-------------------------------------------*/

  body {
    overflow-x: hidden;
    }
    #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    left: 270px;
    margin-left: -250px;
    margin-left: -20%;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: -15px;
    }
    .bi-bell {
        margin-left: 15px;
    }
    .bi-lightbulb{
        margin-left: 8%;
        margin-top: 10%;
    }
    .Notes{
        margin-left: 15%;
        margin-top: -10%;
    }
    .svg-icon{
    margin-top: 3%;
    }
    .close-button{
       margin-top: -5%; 
    }
    .bi-person-plus , .bi-palette , .bi-image , .bi-archive , .bi-three-dots-vertical{
        /* margin-top: 45px; */
        margin-left: 25px;
    }
    .btn-button{
     background-color: transparent;
     margin-left: 90%;   
    }
    /* .bi-person-plus-fill{
        margin-left: 15px;
    } */
    .bell-button{
        position: absolute;
        z-index: 2;
    }
    i {
        font-style: italic;
    }
    .container-fluid{
        width: 80%;
        /* margin-bottom: 50%; */
        display: inline-flex;
        flex-wrap: wrap;
        margin-left: 20%;
    }
   .navbar-dark .navbar-toggler-icon{
        background-image : url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        margin-top: 5px;
        margin-left: 8px;
    }
    #nav-toggle-button{
        background-color:red;
    }
    #wrapper.toggled #sidebar-wrapper {
    width: 250px;
    }
    .bg-primary {
        background-color: #fff!important;
    }
    #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    }
    #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
    }
    .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    }
    .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    }
    .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    }
    .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
    }
    .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    }
    .sidebar-nav>.sidebar-brand a {
    color: #999999;
    }
    .sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
    }

    .middle{
        font-size: 18px;
        height: 40px;
    }
    .notes {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: center;
    }
    
    .contain {
        width: 600px;
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 8px;
        border-color: #e0e0e0;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
        font-family: 'Roboto',arial,sans-serif;
        font-size: 15px;
        margin: 32px auto 16px auto;
        margin-top: 10%;
    }
    
    .container {
        display:flex;
        justify-content: flex-end;
        align-items: center; 
        height: 46px;
        padding: 12px 16px 12px 16px;
    }
    
    .note {
        flex-grow: 1;
    }
    
    .container1 {
        display: flex;
        flex-direction: column;
        height: 136px;
    }
    
    .note1 {
        height: 90px;
    }
    
    .MuiInputBase-input {
        color: gray !important;
    }
    
    .pd {
        letter-spacing: .00625em;
        padding: 10px 15px 12px 15px;
        height: 24px;
    }
    
    .title {
        display: flex;
    }
    
    .toolbar {
        display: flex;
        padding-left: 15px;
    }
    .card{
        width: 40%;
        margin-left: 35%;
        height: 50%;
        /* box-shadow: 0 .5rem 1rem rgba(5, 0, 0, 0.425)!important; */
        box-shadow: 0 .5rem 1rem rgba(1, 0, 0, 0.125)!important;
        border: 2px solid rgba(0,0,0,.125);
        border-radius: 0.55rem;
    }
    button, input {
        overflow: visible;
        border: transparent;
        font-style: italic;
        margin: 5px;
    }
    
    button.btn-button:focus {
        outline-width: 0;
    }
    input {
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        border-bottom: transparent;
        text-align: start;
        appearance: initial;
        -webkit-rtl-ordering: logical;
        cursor: text;
    }
    input.middle:focus {
        outline-width: 0;
    }
    